.card__link {
  display: block;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-color: $thema;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin: 15px 0 0;
