.additional-products {
  padding: 0;
}

.additional-products__title {
  margin-bottom: 49px;

  @media(min-width: $tablet) {
    margin-bottom: 80px;
  }


}

.additional-products__list {
  list-style: none;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }
}

.additional-products__items {
  margin: 0 0 19px;
  padding: 13px 0 0;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    margin: 0 0 -1px;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }
}

.additional-products__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.additional-products__caption {
  margin: 0;
  padding: 0 0 13px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
}

.additional-products__wrap {
  display: flex;
  justify-content: space-between;
}

.additional-products__quantity {
  margin: 0;
  padding: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;

  @media(min-width: $tablet) {
    padding-right: 49px;
  }

}

.additional-products__price {
  margin: 0;
  padding: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-products__link {

  @media (min-width: $tablet) {
    margin: 0;
    width: 632px;
  }
}

.additional-products__block {
  position: relative;
  width: 280px;

  &::before {
    content: "";
    width: 280px;
    height: 290px;
    background-image: image-set(
        url ("../../images/cat-case/cat-case-m@1x.webp") 1x type("image/webp"),
        url ("../../images/cat-case/cat-case-m@2x.webp") 2x type("image/webp"),
        url ("../../images/cat-case/cat-case-m@1x.jpeg") 1x type("image/jpeg"),
        url ("../../images/cat-case/cat-case-m@2x.jpeg") 2x type("image/jpeg"));
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
