.header {
  padding-top: 65px;
  position: relative;
  background: url("../../images/logo/mobile-text.svg") no-repeat center 23px;
  z-index: 50;

  @media (min-width: $tablet) {
    padding-top: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin: 13px 34px 0 10px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin: 43px 111px 0px 90px;

  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
