.programs {
  min-height: 266px;
  background-color: #f2f2f2;
  margin: 20px;
}

.program__list {
  margin: 0;
  padding: 0;
}

.program__title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 90px;
  position: relative;


  &::before {
    content: "";
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $thema;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 24px;
  }
}

.program--slim {

  &::after {
    content: url("../../images/cat-slim.svg");
    position: absolute;
    top: 21px;
    left: 27px;
    z-index: 1;
  }
}

.program--gain {

  &::after {
    content: url("../../images/cat-gain.svg");
    position: absolute;
    top: 34px;
    left: 13px;
    z-index: 1;
  }
}

.program__text {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  min-height: 90px;
  margin: 0;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 28px;
  position: relative;

  &::after {
    content: "";
    border: 1px solid #d9d9d9;
    width: 240px;
    display: block;
    position: absolute;
    bottom: -24px;
  }
}

.program__item {
  list-style: none;
}

.program__link {
  display: block;
  width: 87px;
  min-height: 16px;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 42px 173px 22px 20px;
  background-image: url("../../images/programs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 120px 44px;

  &:hover {
    color: #000000;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
